<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Cats application</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>

    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>

    <!-- build:css /build/app.css -->
    <link rel="stylesheet" type="text/css" href="/app/app.css"/>
    <!-- /build -->

    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="/bower_components/angular-mocks/angular-mocks.js"></script>

    <!-- build:js /build/angular-training.js -->
    <script src="/app/app.js"></script>
    <script src="/mock.js"></script>
    <script src="/app/components/controllers/mainController.js"></script>
    <script src="/app/components/services/mainService.js"></script>
    <script src="/app/components/filters/mainFilter.js"></script>
    <!-- /build -->

</head>
<body ng-app="app" ng-cloak="">

<div ng-controller="mainController" class="container">
    <div ng-include="'/app/templates/main.html'"></div>

    <h3>{{searchResults | catInfo}}</h3>

    <div class="selection">
        <ul class="list">
            <li ng-repeat="cat in cats">
                <a href="#" ng-click="showCat(cat)" ng-class="cat.viewed ? 'viewed' : ''">{{cat.name}}</a>
            </li>
        </ul>

        <form class="search" ng-submit="search(searchText)">
            <p>
                <button type="button" ng-click="addCat()">Add a new cat</button>
                <input type="text" ng-model="searchText" placeholder="Search text" />
                <button type="submit">Search</button>
            </p>
            <p>
                <label>
                    <span>Sort by </span>
                    <select ng-options="label as label for label in sorting"
                            ng-model="selected"
                            ng-init="selected = sorting[0]"
                            ng-change="sortResults()">
                    </select>
                </label>
            </p>
        </form>
    </div>

    <ul class="view">
        <li ng-repeat="currentCat in searchResults track by $index">
            <form name="form[$index]" class="clearfix" ng-submit="saveForm(currentCat, form[$index].$valid)" novalidate>
                <div class="date">{{currentCat.date | date: 'dd-MMM- yyyy'}}</div>

                <div class="picture">
                    <img ng-click="count(currentCat)" ng-src="{{currentCat.src}}"/>
                    <span class="counter">{{currentCat.counter ? currentCat.counter : 0}}</span>
                    <h2>{{currentCat.name}}</h2>
                </div>

                <ul class="message" ng-if="currentCat.isMessageVisible">
                    <li ng-if="!form[$index].catName.$valid">
                        Please, insert name consisting of english letters and/or numbers
                    </li>
                    <li ng-if="!form[$index].pictUrl.$valid">
                        Please, insert a real URL-address
                    </li>
                </ul>

                <div class="control">
                    <button class="btn-reset float-left" type="button" ng-click="resetForm(currentCat)">Reset</button>

                    <div class="draft-name float-left">
                        <input type="text" name="catName" placeholder="Cat name" autocomplete="off" required
                               ng-change="currentCat.isMessageVisible = false"
                               ng-model="currentCat.draftName"
                               ng-pattern="/^\w+$/" />
                    </div>
                    <div class="draft-url float-left">
                        <input type="url" name="pictUrl" placeholder="Picture Url"
                               ng-change="currentCat.isMessageVisible = false"
                               ng-model="currentCat.draftPictUrl"
                               ng-blur="saveUrl(currentCat)" />
                    </div>

                    <div class="number-input smile float-left" ng-class="currentCat.vote == 0 ? '' : currentCat.vote > 0 ? 'happy' : 'sad'">
                        <input class="vote" type="text" disabled="disabled" ng-model="currentCat.vote" title="Vote" />
                        <button type="button" class="up" ng-click="changeVote(currentCat, 1)">&#9650;</button>
                        <button type="button" class="down" ng-click="changeVote(currentCat, -1)">&#9660;</button>
                    </div>
                    <button class="btn-submit float-left" ng-class="isNewCat(currentCat) ? 'add' : 'save'" type="submit">
                        {{isNewCat(currentCat) ? 'Add' : 'Save'}}
                    </button>
                </div>
            </form>
        </li>
    </ul>
</div>

</body>
</html>