<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new cat</title>


    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>

    <!-- build:css /build/app.css -->
    <link rel="stylesheet" type="text/css" href="/app/app.css"/>
    <!-- /build -->

    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/bower_components/angular-mocks/angular-mocks.js"></script>

    <!-- build:js /build/angular-training.js -->
    <script src="/app/app.js"></script>
    <script src="/app/mock.js"></script>
    <script src="/app/components/controllers/mainController.js"></script>
    <script src="/app/components/controllers/catsController.js"></script>
    <script src="/app/components/services/catsService.js"></script>
    <script src="/app/components/directives/focus.js"></script>
    <script src="/app/components/directives/saveBtnClick.js"></script>
    <script src="/app/components/directives/imagePreview.js"></script>
    

</head>
<body ng-app="app" ng-controller="catsCtrl">

<div class="container">

{{text}}

    <form save-btn-click="addCat(newCatName, newCatImgUrl)" name="newCatForm" class="has-error" >

    <h1>Add new Cat</h1>

    <label style="display: block">Cat name: <input ng-model="newCatName" ng-required required><span ng-hide="newCatName">Field is required</span></label>

    <image-preview cat-img-url='catImgUrl'>
    </image-preview>

    <!--
    <label style="display: block">Cat image URL:<input focus name="newCatUrl" type="url" ng-model="newCatImgUrl" ng-blur="setNewCatImgFinal(newCatImgUrl)" ng-required><span ng-hide="newCatImgUrl">Field is required</span></label>
    <img  ng-src="{{newCatImgFinal}}">
-->

    <button ng-click="addCat(newCatName, newCatImgUrl)" ng-disabled="newCatForm.$invalid  || newCatForm.$pending">Save</button>
    <button>Cancel</button>

    </form>

</div>

</body>
</html>