<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Cats application</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <!-- build:css /build/app.css -->
    <link rel="stylesheet" type="text/css" href="/angular-training/app/app.css"/>
    <!-- /build -->
    <script src="/bower_components/angular/angular.min.js"></script>
    <!-- build:js /build/angular-training.js -->
    <script src="/app/addCatModule/appAddCat.js"></script>
    <script src="/app/addCatModule/components/controller/addCatController.js"></script>
    <!-- /build -->
</head>
<body ng-app="appAddCat">

<a href="/index.html">Home Page</a> || <a href="/addCat.html">Add Cat</a>

<div ng-controller="addCatController" class="container">

    <form name="addCatForm" novalidate>
        <p><h2>Cat name:</h2>
            <input type="text" name="catName" ng-model="catName" required>
            <span style="color:red" ng-show="addCatForm.catName.$dirty && addCatForm.catName.$invalid">
            <span ng-show="addCatForm.catName.$error.required">Cat name is empty.</span>
            </span>
        </p>

        <p><h2>Link for cat picture:</h2>
            <input type="url" name="catUrl" ng-model-options="{ updateOn: 'blur' }" ng-model="catUrl" required>
            <span style="color:red" ng-show="addCatForm.catUrl.$dirty && addCatForm.catUrl.$invalid">
            <span ng-show="addCatForm.catUrl.$error.required">Link for cat picture is empty.</span>
            </span>
        </p>
        <br />

        <img ng-src="{{ catUrl }}" />

        <span class="bg-primary cursor btn" ng-disabled="addCatForm.$invalid" ng-click="saveCat()">Save</span>
        <!--addCatForm.catName.$error.required || addCatForm.catName.$dirty && addCatForm.catName.$invalid ||-->
        <!--addCatForm.catUrl.$dirty && addCatForm.catUrl.$invalid || addCatForm.catUrl.$error.required-->
        <a href="/addCat.html"><span class="bg-primary cursor btn">Cancel</span></a>
    </form>

</div>

</body>
</html>