<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Cats application</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <!-- build:css /build/app.css -->
    <link rel="stylesheet" type="text/css" href="/app/app.css"/>
    <!-- /build -->
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
        .form-group:not(.has-error){
            padding-bottom:20px;
        }
    </style>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <!-- build:js /build/angular-training.js -->
    <script src="/app/app.js"></script>
    <script src="/app/components/controllers/addEvent.controller.js"></script>
    <!-- /build -->
</head>
<body ng-app="eventApp">

    <nav class="navbar navbar-default">
        <a class="navbar-brand" href="/">Events</a>
        <ul class="nav navbar-nav">
            <li>
                <a href="/">Home</a>
            </li>
            <li class="active">
                <a href="/addEvent.html">Add Event</a>
            </li>
        </ul>
    </nav>

    <div ng-controller="addEventController" class="container">
        <form class="col-xs-6 col-sm-6 col-md-6 col-lg-6" name="addEventForm" action="" method="post" role="form" ng-submit="submit($event)">
            <legend>Add event</legend>

            <div class="form-group" ng-class="{'has-error': addEventForm.name.$dirty && addEventForm.name.$invalid}">
                <label for="name">*Name</label>
                <input ng-model="event.name" required type="text" class="form-control" name="name" id="name" placeholder="Angular">
                <span ng-show="addEventForm.name.$dirty && addEventForm.name.$invalid">Name is required</span>
            </div>
            <div class="form-group" ng-class="{'has-error': addEventForm.trainer.$dirty && addEventForm.trainer.$invalid}">
                <label for="trainer">*Trainer</label>
                <input ng-model="event.trainer" required ng-pattern="/^[A-Za-z ]*$/" type="text" class="form-control" name="trainer" id="trainer" placeholder="Nadzeya Shedava">
                <span ng-show="addEventForm.trainer.$dirty && addEventForm.trainer.$error.required">Trainer is required</span>
                <span ng-show="addEventForm.trainer.$dirty && addEventForm.trainer.$error.pattern">Trainer should only contains latin characters and spaces</span>
            </div>
            <div class="form-group" ng-class="{'has-error': addEventForm.src.$dirty && addEventForm.src.$invalid}">
                <label for="src">Image source</label>
                <input ng-model-options="{ updateOn: 'blur' }" ng-model="event.src" type="url" class="form-control" name="src" id="src" placeholder="https://angularjs.org/img/AngularJS-large.png">
                <span ng-show="addEventForm.src.$dirty && addEventForm.src.$error.url">URL is not valid</span>
            </div>

            <button type="submit" class="btn btn-primary" ng-disabled="addEventForm.$invalid">Submit</button>
            <button type="button" class="btn btn-danger">Cancel</button>
        </form>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <img ng-show="event.src" width="100%" ng-src="{{event.src}}"/>
        </div>
    </div>
</body>
</html>