body {
    background-color: #343234;
    color: #FFF;
}

.nav-buttons {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.btn-dark {
    border: 1px solid #000000;
    background-image: -webkit-linear-gradient(top,#444644 0,#2C2A2C 100%);
    background-image: -o-linear-gradient(top,#444644 0,#2C2A2C 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#444644),to(#2C2A2C));
    background-image: linear-gradient(to bottom,#444644 0,#2C2A2C 100%);
    background-repeat: repeat-x;
    color: #FFF;
}

.btn-dark:active, .btn-dark:focus {
    border: 1px solid #FFF;
    background-image: -webkit-linear-gradient(top,#444644 0,#2C2A2C 100%);
    background-image: -o-linear-gradient(top,#444644 0,#2C2A2C 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#444644),to(#2C2A2C));
    background-image: linear-gradient(to bottom,#444644 0,#2C2A2C 100%);
    background-repeat: repeat-x;
    color: #FFF;
}

.area {
    width: 280px;
    margin: 50px auto;
    background-color: #FFF;
}

.brick {
    height: 70px;
    width: 70px;
    float: left;
    background-color: #343234;
    border: 1px solid #FFF;
    font-size: 200%;
    line-height: 70px;
    text-align: center;
}

.text-bigger {
    font-size: 180%;
    line-height: 34px;
}

.moves {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 120%;
}

