body {
	color:red;
}

.cat-view{
	color: #00b3ee;
	border: solid #2e2e2e medium;

}
.cat-names-list {
	width: 25%;
	/*background-color: #245580;*/
}

.pluralize{
	height: 5%;
	width: 25%;
	font-size: 20px;
	color: #000011;
}
input{
	width: 15%;
	border-radius: 5px;
	height: 34px;
}
.search-input {
	float: left;
	width: 15%;
	border-radius: 5px;
	height: 34px;
}
.selected-cat {
	color: #00b3ee;
	margin-top: -30%;
	height:500px;
	width: 500px;
	margin-left: 44%;
	border-color: black;
	border-style: ridge;
	border-width: 3px;

}
.cat-photo {
	height:300px;
	width: 300px;
	text-align: center;
}

.dropdown{
	width: 5%;
}
.main {
	margin-top: 50px;
}

.cursor {
	cursor: pointer;
}

.center{
	text-align: center;
}

.black{
	color: black;
}

.red{
	color: red;
}