<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Cats application</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <!-- build:css /build/app.css -->
    <link rel="stylesheet" type="text/css" href="/app/app.css"/>
    <!-- /build -->
    <script src="/bower_components/angular/angular.min.js"></script>
    <!-- build:js /build/angular-training.js -->
    <script src="/app/app.js"></script>
    <script src="/app/components/controllers/mainController.js"></script>
    <!-- /build -->
</head>
<body ng-app="app">
    <div ng-controller="mainController">
        <div>
            <input ng-model="inputSearch" name="mySearch" type="text">
            <button ng-click="doSearch()">GO</button>
            <img ng-cloak name="spinner" ng-src="ajax-loader.gif" ng-show="showSpinner">
        </div>
        <div>
            <select ng-options="option.name for option in options track by option.id" ng-model="selectedOption">
            </select>

        </div>

        <div ng-repeat="cat in cats | filter : {name:tmpSearchVariable} | orderBy:'name':selectedOption.id track by $index">
            <div ng-click="selectCat(cat)">
                <h2>
                    {{cat.name}}
                    <span ng-show="cat.viewed">
                        {{cat.checkmark}}
                    </span>
                </h2>
            </div>
        </div>

        <div ng-click="imgClick(cat)">
            <img ng-src="{{cat.image}}">
            {{cat.clickNumber}}
        </div>
    </div>
</body>
</html>