<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Languages application</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <!-- build:css /build/app.css -->
    <link rel="stylesheet" type="text/css" href="/app/app.css"/>
    <!-- /build -->
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/ngstorage/ngStorage.min.js"></script>
    <script src="/bower_components/angular-cookies/angular-cookies.min.js"></script>
    <!-- build:js /build/angular-training.js -->
    <script src="/app/app.js"></script>
    <script src="/app/components/services/usersStorageService.js"></script>
    <script src="/app/components/controllers/registerController.js"></script>
    <script src="/app/components/directives/loginDirective.js"></script>
    <script src="/app/components/directives/registerDirective.js"></script>
    <!-- /build -->
</head>
<body ng-app="reg">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Languages</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/">Home <span class="sr-only"></span></a></li>
          <li><a href="/addLanguage.html">Add Language</a></li>
          <li class="active"><a href="/register.html">Login/Register</a></li>
        </ul>
      </div>

    </div>
  </nav>

  <div ng-controller="registerController" class="container" >
    <ul class="nav nav-tabs">
      <li class="" ng-class="{ 'active': showLg, 'disabled' : showLg }" ng-click="showLoginTab()">
        <a href="#login">Login</a>
      </li>
      <li class="" ng-class="{ 'active': !showLg, 'disabled' : !showLg}" ng-click="showLoginTab()">
        <a href="#register" >Register</a>
      </li>
    </ul>

    <div class="col-md-6" style="margin-top:20px;">
      <ng-login id="login" ng-if="showLg"  ></ng-login>
      <ng-register id="register" ng-if="!showLg"></ng-register>
    </div>



  </div>

</body>
</html>
