<div class="row chat-rrom">
    <div class="chat-title" ng-click="goBack()">
        <span class="chevron left"></span>
        {{chatRoom}}
    </div>
    <div class="chat-messages">
        <div class="row message clearfix" ng-repeat="message in messages">
            <div class="col-xs-2 username" ng-class="{'my-message': isMyMessage(message)}">{{message.username}}</div>
            <div class="col-xs-7 text" ng-bind-html="message.message | emoji"></div>
            <div class="col-xs-3 time">{{message.time | date: 'shortTime'}}</div>
        </div>
    </div>
    <div class="new-massage">
        <form role="form" name="messageForm" ng-submit="sendMessage(messageForm)">
            <div class="form-group">
                <textarea class="form-control" ng-model="message" required placeholder="Type your message..."></textarea>
            </div>
            <button class="btn btn-primary">Send message</button>
        </form>
    </div>
</div>
