<div class="cats">
  <div>
    <input type="text" ng-model="searchText" focus />
    <button ng-click="findCat()">search</button>

    <select name="sort" ng-model="orderReverse">
      <option value="" selected>asc</option>
      <option value="desc">decs</option>
    </select>
  </div>

  <a ui-sref="viewCat({ id: cat.id })"><img class="cat" ng-src="{{cat.src}}" alt="{{cat.name}}" /></a>
  <vote-buttons cat="cat"></vote-buttons>

  <ul>
    <li ng-repeat="cat in cats | filter:filterExpression | orderBy:cat.name:orderReverse track by $index"
        ng-click="selectCat(cat)"
        ng-style="{color: cat.wasSelected ? 'blue' : none}">
        {{cat.name}}
    </li>
  </ul>
</div>
