<form  name="loginForm" novalidate>
    <p><h2>Login:</h2>
    <input type="text" name="userLoginForm" ng-model="userLoginForm.login"  required>
    <div ng-show="loginForm.$submitted || loginForm.userLoginForm.$touched" ng-messages="loginForm.userLoginForm.$error">
        <div ng-messages-include="templates/error/errorMessenger.html" class="errors"></div>
    </div>

    </p>

    <p><h2>Password:</h2>
    <input type="password" name="userLoginPassword"  ng-model="userLoginForm.password" required>
    <div ng-show="loginForm.$submitted || loginForm.userLoginPassword.$touched" ng-messages="loginForm.userLoginPassword.$error">
        <div ng-messages-include="templates/error/errorMessenger.html" class="errors"></div>
    </div>

    </p>

    <br />

    <span class="bg-primary cursor btn" ng-disabled="loginForm.$invalid" ng-click="UserAuthentication(userLoginForm)">Login</span>
    <a ng-href="/"><span class="bg-primary cursor btn">Cancel</span></a>
</form>
