<h1>{{text}}</h1>

<form name="addCat" class="form">
  <input type="text" required name="name" class="form-control" placeholder="cat's name" ng-model="filterText">
  <input type="url" required name="imgUrl" class="form-control" placeholder="Image url" ng-model-options="{ updateOn: 'blur'}" ng-model="catImageUrl">
  <img ng-show="addCat.imgUrl.$valid" class="big" src="{{catImageUrl}}">
  <span ng-show="!addCat.imgUrl.$valid">This Url is invalid! </span>
  <span ng-show="!addCat.$valid">This Form is invalid! </span>
  <button ng-disabled="!addCat.$valid" ng-submit="onSave">Save</button>
  <button>Cancel</button>
</form>
<!-- <div ng-show="selectedCat">
<h2>selected Cat:</h2>
  <span>{{selectedCat.name}}  </span>
  <span class="glyphicon glyphicon-heart" ng-click="selectedCat.vote = selectedCat.vote+1">{{selectedCat.vote}}</span>
  <img ng-click="selectedCat.vote = selectedCat.vote+1" src="{{selectedCat.src}}" alt="{{selectedCat.name}}">
</div>
<ul ng-show="cats" class="list-group">
  <li ng-repeat="cat in cats | filter: {name:filterText} |orderBy: order" class="list-group-item" ng-click="selectCat(cat)">
    <span>{{cat.name}} </span><span class="glyphicon glyphicon-ok" ng-show="cat.viewed"></span>
  </li>
</ul> -->
