<script>
    function newDoc() {
        window.location ="http://localhost:8000/"
    }
</script>

<!--modal-->
<div>

    <div class="modal-header">
        <h3 class="modal-title">I'm a modal!</h3>
    </div>
    <div class="modal-body">
        <!--<div ng-controller="formController">
        <form ng-submit="submit()" class="form-horizontal" novalidate>
            <label>Firstname</label>
            <input type="text" ng-model="newCat.name"/>
            <label>url</label>
            <input type="text" ng-model="newCat.url"/>
            <button class="btn">Save</button>
            <button class="btn">Cancel</button>
        </form>
        </div>-->
        <ul>
            <li>
                <img ng-src="{{item.img}}">

                <div>id: {{item.id}}</div>
                <div>create time: {{item.time | date : 'HH.mm.dd'}}</div>
                <div>name: {{item.name}}</div>
                <div>clicks: {{item.clicks}}</div>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button enter-pressed class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>

</div>
<!--modal END-->


