<div  class="container" >
  <ul class="nav nav-tabs">
    <li class="" ng-class="{ 'active': showLg, 'disabled' : showLg }" ng-click="showLoginTab()">
      <a href="#/authentication">Login</a>
    </li>
    <li class="" ng-class="{ 'active': !showLg, 'disabled' : !showLg }" ng-click="showLoginTab()">
      <a href="#/authentication" >Register</a>
    </li>
  </ul>

  <div class="col-md-10" style="margin-top:20px;">
    <ng-login id="login" ng-if="showLg" ></ng-login>
    <ng-register id="register" ng-if="!showLg"></ng-register>
  </div>

</div>
