<form name="catForm" ng-submit="submit(newCat);goto(urlCatList);" novalidate>
  <div>
    <input type="submit" value="Save" class="red" enter-key ng-disabled="!catForm.$valid">
    <button class="red">Cancel</button>
  </div>
  <div>
    <label for="catName">Cat Name:</label>
    <input focus id="catName" name="catName" type="text" ng-pattern="'\\s*([a-zA-Z]{2,}\\s*)+'" ng-model="newCat.name" required/>
    <span ng-show="catForm.catName.$dirty && catForm.catName.$touched">
      <span ng-show="catForm.catName.$error.required">Cat name is required!</span>
      <span ng-show="catForm.catName.$error.pattern">Cat name is invalid!</span>
    </span>
  </div>
  <div>
    <image-preview image-url="newCat.image"></image-preview>
  </div>
</form>
<!-- TODO: novalidate -->
<!-- TODO: cookie -> local storage -->
