<!--<expander>-->
	<form name="catsForm"
		novalidate
		ng-submit="addCat.onSubmitPressed(catsForm)"
		quick-submit>
		<div class="item">
			<b>Name: </b>
			<input type="text" name="name" load-focus ng-model="addCat.cat.name" required >
			<div ng-show="catsForm.name.$error.required">This field is required</div>
		</div>
		<image-preview ng-model="addCat.cat.imageUrl"></image-preview>
		<div>
			<button class="btn btn-default" ng-click="addCat.onCancelPressed()">Cancel</button>
			<input class="btn btn-primary" ng-disabled="catsForm.$invalid" type="submit" value="Save">
		</div>
	</form>
<!--
</expander>-->
