<div>
    {{cat.name}}
    {{cat.counter}}
    <img ng-src="{{cat.src}}" height="100" width="100">

    <!--vote throw controller-->
<!--
    <img ng-src="http://images.clipartlogo.com/files/images/18/184310/tango-go-up_t" ng-click="counterInc(cat)" height="50" width="50">
    <img ng-src="http://images.clipartlogo.com/files/images/18/184326/tango-go-down_t" ng-click="counterDec(cat)" height="50" width="50">
-->

    <!--vote throw directive-->
    <img ng-src="http://images.clipartlogo.com/files/images/18/184310/tango-go-up_t" vote-spiner item="cat.counter" height="50" width="50">
    <img ng-src="http://images.clipartlogo.com/files/images/18/184326/tango-go-down_t" vote-spiner item="cat.counter" height="50" width="50">


</div>
