
<!--modal-->
<div>

    <div class="modal-header">
        <h3 class="modal-title">I'm a modal!</h3>
    </div>
    <div class="modal-body">

        <ul>
            <li>
                <img ng-src="{{item.img}}">

                <div>id: {{item.id}}</div>
                <div>create time: {{item.time | date : 'HH.mm.dd'}}</div>
                <div>name: {{item.name}}</div>
                <div>clicks: {{item.clicks}}</div>

                <!--<a href="#" ng-click="$event.preventDefault(); selected.item = detail">{{ detail }}</a>-->
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>

</div>
<!--modal END-->


