<style>
    .errorMessage {
        color: red;
        font-weight: bold;
    }
</style>
<form name="editCatForm" novalidate style="border: 1px solid grey" autofocus-directive="catName">
    Cat's ID: <a>{{cat.id}}</a>
    Cat's name: <input type="text" name="catName" ng-model="cat.name" required/>
    <span class="errorMessage" ng-show="editCatForm.catName.$error.required">Required!</span>
    <br>
    <br>
    Cat’s picture url: <input type="url" name="catUrl" ng-model="cat.src" ng-model-options="{updateOn: 'blur'}" required/>
    <span class="errorMessage" ng-show="editCatForm.catUrl.$error.required">Required!</span>
    <span class="errorMessage" ng-show="editCatForm.catUrl.$error.url">Sorry Not a Valid URL, Don't Forget to Use http://</span>
    <br>
    <br>
    <img src="Artefacts/noimageicon.jpg" ng-src="{{cat.src}}" onerror="src='Artefacts/noimageicon.jpg'"  height="150" style="border: 1px solid black;"/>
    <br>
    <br>
    <input type="submit" id="submit" value="Save" ng-disabled="editCatForm.$invalid" ng-click="submit(cat)" enter-key-detector-directive/>
    <input type="button" id="cancel" value="Cancel" ui-sref="listView.vote({id: cat.id})"/>
    <image-preview></image-preview>
</form>