<div class="modal-header">
    <h3 class="modal-title">Edit cat #{{cat.id}}</h3>
</div>
<div class="modal-body">
    <form name="editCatForm" novalidate style="border: 1px solid grey" autofocus-directive="catName">
        Cat's name: <input type="text" name="catName" ng-model="cat.name" required minlength="4"/>
        <div ng-messages="editCatForm.catName.$error">
            <div ng-messages-include="templates/messages.html" />
        </div>
        <br>
        <br>
        <image-preview image-title="Cat’s picture url:" image-src="cat.src" image-err-src='Artefacts/noimageicon.jpg'></image-preview>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-disabled="editCatForm.$invalid" ng-click="submit(cat)" enter-key-detector-directive>OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
