<div class="panel panel-default" ng-class="{'panel-info': event.selected}" ng-click="selectEvent(event)">
	<div class="panel-heading" >
		{{event.name | uppercase}}
		<div class="pull-right" style="margin-top:-5px; margin-right:-5px;">
			<div vote-spinner="event.vote" fn-update="saveEvent(event, vote)"></div>
		</div>
	</div>
	<div class="panel-body">
		<div class="pull-left" style="margin:10px">
			<img height="50px" ng-src="{{event.src}}"/>
		</div>
		<div class="clearfix">
			<div><strong>Trainer name:</strong>{{event.trainer}}</div>
			<div><strong>Date:</strong>{{event.date | date}}</div>
			<div><strong>Vote:</strong>{{event.vote | voteReaction:5:-1}}</div>
		</div>

		<div ng-show="canEditAndDelete">
			<a ui-sref="events.edit({id: event.id})">Edit</a>
			<a href="#" ng-click="deleteEvent($event, event)">Delete</a>
		</div>
	</div>
</div>