<div class="container" style="border: 1px solid grey" xmlns="http://www.w3.org/1999/html"
     xmlns="http://www.w3.org/1999/html">
    <div class="col col-sm-3">
        <div class="row">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="newFilterText" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="applyFilter(newFilterText)">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                    <button class="btn btn-default" type="button" ng-click="clearFilter()">
                        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                    </button>
                </span>
            </div>
        </div>
        <br>
        <div class="row">
            Sort order:
            <select ng-model="sortExpression" ng-init="sortExpression='+name'">
                <option value="+name">Asc</option>
                <option value="-name">Desc</option>
            </select>
        </div>
        <br>
        <!--<div class="row" style="border: 1px solid black;">-->
        <!--<ul>-->
        <!--<li ng-repeat="cat in cats | filter:{name:filterText} | orderBy:sortExpression" ng-click="didSelectCat(cat)" style="cursor: pointer"/>-->
        <!--{{cat.name}}-->
        <!--<img ng-src="Artefacts/tickSign.jpg" height="15" ng-show="cat.wasAlreadyViewed"/>-->
        <!--</li>-->
        <!--</ul>-->
        <!--</div>-->
        <div class="row">
            <ul class="list-group">
                <h4 class="list-group-item active">List of cats</h4>
                <li href="#" class="list-group-item" ng-repeat="cat in cats | filter:{name:filterText} | orderBy:sortExpression" ng-click="didSelectCat(cat)" selectedItem="{{cat.id==selectedCat.id}}">
                    <span class="glyphicon glyphicon-triangle-right" aria-hidden="true" ng-show="cat==selectedCat"></span>
                    {{cat.name}}
                    <span class="badge">
                        <div class="animate-switch-container" ng-switch on="ddd">
                            <div class="animate-switch" ng-switch-when="true">
                                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" ng-show="cat.vote>0"></span>
                                <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true" ng-show="cat.vote<0"></span>
                                {{cat.vote}}
                            </div>
                            <div class="animate-switch" ng-switch-default>
                                ?
                            </div>
                        </div>
                    </span>
                    <span class="badge" style="font-size: smaller" ng-hide="cat.wasAlreadyViewed">
                        new!
                    </span>
                </li>
                <p class="list-group-item-text">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" ui-sref="addCat">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"/>
                        </button>
                        <button type="button" class="btn btn-default" ng-click="deleteCat(selectedCat)">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"/>
                        </button>
                        <button type="button" class="btn btn-default" ui-sref="editCat({id: selectedCat.id})">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"/>
                        </button>
                    </div>
                </p>
            </ul>
        </div>
    </div>
    <div class="col col-sm-9">
        <ui-view name="voteCat"></ui-view>
    </div>
    <!--<a ui-sref="about">About</a>-->
    <!--<ui-view name="about"></ui-view>-->
</div>