<div ui-view></div>

<div class="main">

    <div class="search">

        <select ng-model="sort">
            <option value="-name">Ask</option>
            <option value="name">Desk</option>
        </select>

        <input class="search-input" placeholder="search..." ng-model="searchCatName">
        <span class="bg-primary cursor btn" ng-click="search(searchCatName)">Search</span>
    </div>

    <br />

    <ng-pluralize count="goodRatingCats.length"
        when="{'0': 'No one cat is liked.',
        'one': '1 || {{ goodRatingCats[0] }} || is liked.',
        'other': '{} cats are liked.'}">
    </ng-pluralize>

    <br />

    <div class="bg-info cat-names-list"  ng-repeat="cat in cats | filter: { name: searchCatNameFilter } | orderBy: sort">
        <h1 class="cursor" ng-click="show(cat)">{{ cat.clickCount | clickCountFilter }} Name: {{ cat.name }} <span ng-show="cat.view">&#8730;</span></h1>

        <div ng-show="checkUserPermissions(cat.creator)">
            <span  class="bg-danger cursor"><a ng-href = "#/edit/{{cat.id}}">Edit</a></span>
            <span  class="bg-danger cursor" ng-click="deleteCat(cat)">Delete</span>
        </div>
    </div>

    <div class="selected-cat">
        <div class="bg-success">
            <h1>Current Name: {{ selectedCat.name }}</h1>
            <h2>Click count: {{ selectedCat.clickCount }}</h2>
            <h2>Created {{ selectedCat.addCatTime | date:"dd-MMM-yyyy" }}</h2>
        </div>

        <div style="margin-left: 115px;">
            <img class="cat-photo" ng-src="{{selectedCat.link}}">
            <vote-spinner ng-show="activeUserLogin && activeUserLogin !== selectedCat.creator" current-cat="selectedCat" update-cat-votes = "updateCatVotes()"></vote-spinner>
        </div>
    </div>
</div>