<div class="row well">
    <div class="col-xs-6">
        <form name="editCatForm">
            <fieldset>
                <div class="form-group">
                    <label for="new-name">Name:</label>
                    <input id="new-name" type="text" ng-model="newCat.name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="new-url">Image URL:</label>
                    <input id="new-url" type="text" ng-model="newCat.src" class="form-control">
                </div>
            </fieldset>
            <button type="submit" class="btn btn-primary" ng-click="addNewCat()" style="width: 100px;">Add</button>
            <button type="button" class="btn btn-default" ng-click="cancel()" style="width: 100px;">Cancel</button>
        </form>
    </div>
    <div class="col-xs-6">
        <img ng-src="{{newCat.src}}" height="300" style="float: right;"/>
    </div>
</div>