<div id="content">
    <div ng-cloak ng-controller="addCatController" class="container">
        <div>
            <a>Cat name </a>
            <input focus-dir="true" type="text" class="form-control" id="newcat_name" ng-model="cat.newcatname" placeholder="Enter cat name">
        </div>
        <div>
            <a>Url: </a>
            <input type="text" class="form-control" id="newcat_url" ng-model="cat.newcaturl" placeholder="Enter cat url image">
        </div>
        <div>
            <img ng-src="{{cat.newcaturl}}" width="100%">
        </div>

        <button type="button" ng-show="true" ng-click="addCatClick(cat)">add</button>

    </div>
</div>