<div>
    <input type="text" ng-model="newFilterText"/>
    <button ng-click="applyFilter(newFilterText)">
        <img ng-src="Artefacts/search.png" width="20"/>
    </button>
    <select ng-model="sortExpression" ng-init="sortExpression='+name'">
        <option value="+name">Asc</option>
        <option value="-name">Desc</option>
    </select>
</div>
<div>
    <div class="col col-sm-6">
        <ul>
            <li ng-repeat="cat in cats | filter:{name:filterText} | orderBy:sortExpression" ng-click="didSelectCat(cat)" style="cursor: pointer"/>
            {{cat.name}}
            <img ng-src="Artefacts/tickSign.jpg" height="15" ng-show="cat.wasAlreadyViewed"/>
            </li>
        </ul>
    </div>
    <div class="col col-sm-6">
            <div class="panel-default">
                <div class="panel-heading">
                    {{selectedCat.name}}
                </div>
                <div class="panel-body">
                    <img ng-src="{{selectedCat.image}}" height="150" style="border: 1px solid black; cursor: pointer"/>
                </div>
                <div class="panel-footer">
                    <div class="btn-group">
                        <button type="button" ng-click="voteUpForCat(selectedCat)">+</button>
                        <button type="button" ng-click="voteDownForCat(selectedCat)">-</button>
                    </div>
                    vote: {{selectedCat.vote}}
                </div>
            </div>
    </div>
</div>