<div class="panel-default">
    <div class="panel-heading">
        {{selectedCat.name}}
    </div>
    <div class="panel-body">
        <img class="displayed" ng-src="{{selectedCat.src}}" err-src='Artefacts/noimageicon.jpg' height="300"/>
    </div>
    <div class="panel-footer">
        <div class="btn-group">
            <button type="button" ng-click="voteUpForCat(selectedCat)" ng-disabled="isVoteAvailableForCat(selectedCat)">+</button>
            <button type="button" ng-click="voteDownForCat(selectedCat)" ng-disabled="isVoteAvailableForCat(selectedCat)">-</button>
        </div>
        vote: {{selectedCat.vote}}
    </div>
</div>