<div class="panel-default">
    <div class="panel-heading">
        {{selectedCat.name}}
    </div>
    <div class="panel-body">
        <img class="displayed" ng-src="{{selectedCat.src}}" err-src='Artefacts/noimageicon.jpg' height="300"/>
    </div>
    <div class="panel-footer">
        <!--glyphicons-->
        <!--glyphicons-circle-plus-->
        <div class="btn-group-sm" role="group">
            <button type="button" class="btn btn-default glyphicon glyphicon-thumbs-up" ng-click="voteUpForCat(selectedCat)" ng-disabled="selectedCat.isVoted">
            </button>
            <button type="button" class="btn btn-default glyphicon glyphicon-thumbs-down" ng-click="voteDownForCat(selectedCat)" ng-disabled="selectedCat.isVoted">
            </button>
        </div>
    </div>
</div>